body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.film {
    background-color: #96d2c2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.film-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.director-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.director-list li {
    margin-bottom: 5px;
}
.bottone {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
.titolo-film{
    color: #494949;
}
